<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
<title>首页</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<form> 
<div class="wrapper">
    <div class="head">
    	<div class="head_tb">
            <!--<i class="fa"><a></a></i>-->
            <h1>双创调查</h1>
      
        </div>
    </div>

    <div class="index_nr">
        

        
     <div class="Monthly">
      <div class="in_news">
                <h2>点位信息</h2>
            统计条件:
            <select onchange="window.location.href=options[selectedIndex].value">>
                <option value="/admin/shequ/tuchu">社区问题出现次数排名</option>
                  <option value ="/admin/tongji/paiming">点位排名</option>
                  <option value ="/admin/tongji/tuchu">问题突出点位信息</option>

              </select>
          <ul th:each="info:${infoList}">
              <li>
                  <i><img src="/static/images/news1.png"></i>
                  <div class="gjy">

                      <span th:text="'地点名称:'+${info.locationName}"></span>
                      <p th:text="'点位类型:'+${info.type}"></p>
                      <p th:text="'模板名称:'+${info.name}"></p>
                      <p th:text="'提交人:'+${info.userName}"></p>
                      <p th:text="'总得分:'+${info.total}"></p>
                  </div>
              </li>
          </ul>
            </div>
        </div>
        
    </div>

    <div class="bottom">
        <a href="/pages/adminindex">
            <i class="icon icon_f1"></i>
            首页
        </a>

        <a href="/admin/pages/addTemPlate">
            <i class="icon icon_f2"></i>
            新增点位模板
        </a>

        <a href="/admin/pages/alterTemPlate">
            <i class="icon icon_f3"></i>
            修改点位模板
        </a>

        <a href="/pages/adminMine">
            <i class="icon icon_f4"></i>
            管理中心
        </a>
    </div>

</div>
</form>
</body>
</html>
