<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>修改用户密码</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    </head>
    <body>
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed b-line">
                <a href="javascript:;" class="aui-navBar-item" onclick="javascript:history.back(-1);">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">修改用户密码</span>
                </div>
            </header>
            <section class="aui-scrollView">
                <div class="aui-code-box">
                    <form  id="loginForm" action="/user/alterPassword">
                        <p class="aui-code-line">
                            <input type="password" class="aui-code-line-input" value="" name="account" onblur="checkAlterPassword()" id="account" autocomplete="off" placeholder="请输入密码"/>
                        </p>
                        <p class="aui-code-line aui-code-line-clear">

                            <i class="aui-show  operate-eye-open"></i>
                            <input type="password" class="aui-code-line-input password" name="password" id="password"  placeholder="请输入新密码" value="">
                        </p>
                        <div class="aui-flex-links">
                           <!-- <a href="javascript:;">
                                <label class="cell-right">
                                    <input type="checkbox" value="1" name="checkbox">
                                    <i class="cell-checkbox-icon"></i>记住密码
                                </label>
                            </a> -->
                        </div>
                        <div class="aui-code-btn">
                            <button>修改密码</button>
                        </div>
                    </form>
                </div>

            </section>
        </section>

        <script type="text/javascript" src="/static/js/login.js"></script>
<script>

    function checkAlterPassword(obj) {

        var password = document.getElementById("account").value;
        $.ajax({
            type:'post',
            url:'[[${basePath}]]/users/checkAlterPassword',
            data: {
                password:password,
            },
            success:function (data) {
                if (data==1){
                    alert("密码输入错误,请重新输入!")
                }
                window.console.log("成功回调函数!")

            },
            error:function () {
                window.console.log("失败回调函数!")
            },

        })
    }
    function doSubmitForm() {
        var form = document.getElementById('loginForm');
        form.submit();
    }




</script>
    </body>
</html>
